language: python

python:
  - 2.7
  - 3.3
  - 3.4
env:
  - VIM_VERSION="74"
  - VIM_VERSION="git"
  # - VIM_VERSION="NEOVIM"

install:
   # Some of these commands fail transiently. We keep retrying them until they succeed.
   - until sudo add-apt-repository ppa:kalakris/tmux -y; do sleep 10; done
   - until sudo add-apt-repository ppa:neovim-ppa/unstable -y; do sleep 10; done
   - until sudo apt-get update -qq; do sleep 10; done
   - until sudo apt-get install -qq -y --force-yes tmux xclip gdb neovim git; do sleep 10; done
   - ./travis_install.sh

script:
   - ./travis_test.sh

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/558acac434012ba838cd
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
