###########################################################################
#                             LATEX SNIPPETS                              #
###########################################################################

snippet sec
\section{${1:section name}}
\label{sec:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/g}}

${0}
% section $1 (end)
endsnippet

#####################
# TEXTMATE SNIPPETS #
#####################
