###########################################################################
#                             LATEX SNIPPETS                              #
###########################################################################

snippet sec
\section{${1:section name}} 
\label{sec:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/g}}}

${0}

% section $2 (end)
endsnippet

snippet r "\ref{}"
\ref{$1}
endsnippet

#####################
# TEXTMATE SNIPPETS #
#####################
